body {
    background-color: #326b84;
}
.card {
    margin-top: 50px;
    border-radius: 15px;
}
.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}
.btn-tiktok {
    background-color: #0d112cc4;
    color: blue;
}
.btn-tiktok:hover {
    background-color: rgba(0, 0, 0, 0.823);
    color: rgb(51, 49, 47);
}
